__pycache__
*/.ipynb_checkpoints
.idea/
firedrake/
firedrake-install
firedrake-install.log
playground/data/burgers/samples/N8192_nu001_T1_samples1200.pt
playground/data/KS/samples/N4096_HER_nu0029_T01_samples1200.pt
playground/data/KS/samples/N4096_HER_nu0029_T02_samples1200.pt
playground/data/KS/samples/N4096_HER_nu0029_T03_samples1200.pt
playground/data/KS/samples/N4096_HER_nu0029_T04_samples1200.pt
playground/data/KS/samples/N4096_HER_nu0029_T05_samples1200.pt
fem_neural_operator/data/burgers/samples/N8192_nu001_T1_samples1200.pt
fem_neural_operator/data/KS/samples/N4096_HER_nu0029_T01_samples1200.pt
fem_neural_operator/data/KS/samples/N4096_HER_nu0029_T02_samples1200.pt
fem_neural_operator/data/KS/samples/N4096_HER_nu0029_T03_samples1200.pt
fem_neural_operator/data/KS/samples/N4096_HER_nu0029_T04_samples1200.pt
fem_neural_operator/data/KS/samples/N4096_HER_nu0029_T05_samples1200.pt
